.menu-item {
  font-size: 1.25rem;
  background-color: var(--blue);
  color: var(--white);
  text-decoration: none;
  border: 1px solid var(--white);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item:hover {
  font-size: 1.3rem;
}