.graphql {
  background-color: $grey;
  color: $white;
  width: 75vw;
  height: 90vh;
  margin-top: 5vh;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.graphql_messages__header {
  color: $white;
}

.graphql_messages__wrapper {
  background-color: $white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 50%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.graphql__message {
  color: $grey;
  border-bottom: 1px solid $black;
  text-align: center;
}

.graphql_create-msg__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graphql_create-msg__input {
  margin: 1rem;
  width: 50vw;
}

.graphql_create-msg__btn {
  font-size: 1.1rem;
  background-color: $green;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  color: $grey;
  border: none;
  color: $white;
  margin: 1rem;
  width: 30vw;
  height: 5vh;
}
