body {
  --black: #212529;
  --white: #f8f9fa;
  --grey: #50514F;
  --red: #F25F5C;
  --yellow: #FFE066;
  --blue: #247BA0;
  --green: #70C1B3;
  color: var(--grey);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}
